<div id="mask">


</div>
<div id="start">
    <h1 id="welcome"> Welcome to Roastville</h1>

    <div id="level">
        <h1>Level 1</h1>
    </div>

    <h2> How to Play </h2>

    <div id="directions">
        <p>Today is your first day at Roastville!</p>
        <p>Your goal is to deliver as many orders as possible</p>
        <p>First, you need to take customer orders</p>
        <p>Then, you will select which orders to work on. You can only work on two orders at a time</p>
        <p>If you create something that wasn't ordered you will not receive compensation</p>
        <p>At the end of your shift, you will see your earnings</p>
    </div>

    <br>
    <p> If you think you have what it takes. Let's get started</p>

    <button id="start-game">
        <h1> Start </h1>
    </button>


</div>

<div class="panel" id="left-panel">
    <div class="sub-div" class="order-panel" id="order-panel">
        <h3>Current Queue</h3>
        <table class="orders-table" id="orders-table">
            <tr>
                <th> Customer </th>
                <th> Item </th>
                <th> <img src="/assets/images_icons/timer.png" id="timer"> </th>
                <th colspan="3"> Actions </th>
            </tr>
        </table>
    </div>

    <div class="sub-div" class="order-panel" id="order-completed">
        <h3>Completed Orders</h3>
        <table class="orders-table" id="completed-table">
            <tr>
                <th> Customer </th>
                <th> Item </th>
                <th> Price </th>
            </tr>
        </table>
    </div>
</div>
<div class="panel" id="center-panel">
    <div class="sub-div" id="order-area">
        <div class="customer">
            <img src="" alt="customer" id="customer" />
        </div>
        <div class="customer-order">
            <div class="speech-bubble">
                Hi! I'm <span id="cust-name"></span>! <br>
                <span id="ord-name"></span> Please!
            </div>
        </div>
        <div class="table"></div>
        <div class="table"></div>
        <div class="table"></div>




    </div>
    <div class="sub-div" id="cashier-panel">
        <div>
            <img src="/assets/images_icons/cashier.png" alt="cashier" id="cashier" />
        </div>

        <h2>Take An Order</h2>
        <div id="order-form">
            <form class="create-form">
                <div class="form-group">
                    <label for="it">Insert Menu ID:</label>
                    {{!-- figure out how to query menu to show this list --}}
                    <input type="text" id="item-id" name="item_id">

                    <label for="cust">Customer's Name: </label>
                    <input type="text" id="customer-name" name="customer_name" placeholder="x">
                </div>
                <button type="submit" id="add">Add Order</button>
            </form>
        </div>
    </div>
    <div class="sub-div" id="client-messages">
        <p id="too-many">You can only work on two orders at once!</p>
        <p id="wrong-order">The item you created was not ordered!</p>
        <p id="invalid">That's not a valid item on the menu</p>


    </div>
</div>

<div class="panel" id="right-panel">
    <table id="menu-list">
        <h2>Menu</h2>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Price </th>
        </tr>
        
        {{#each menu}}
        <tr>
        <td>{{menu_id}}</td>
        <td>{{item}}</td>
         <td>{{price}}</td>
         </tr>
        {{/each}}
    </table>
    <br>
    <hr>
    <h2>Time Remaining</h2>

    <div class="timer">
        <h1 id="time-rem">

        </h1>

    </div>
    <h2>Cash Earnings</h2>

    <div class="timer">
        <h1 id="money">

        </h1>

    </div>
</div>