<div id="mask">
    

</div>
<div id="start">
    <h1 id="wlcome"> Welcome to Roastville</h1>

    <div id="level"><h1>Level 1</h1></div>
    
    <h2> How to Play </h2>

    <div id="directions">
        <p>Today is your first day at Roastville!</p>
        <p>Your goal is to deliver as many orders as possible</p>
        <p>First, you need to take customer orders</p>
        <p>Then, you need select which orders to work on</p>
        <p>At the end of your shift, you will see your earnings</p>
    </div>
    
    <br>
        <p> If you think you have what it takes. Let's get started</p>

    <button id="start-game"><h1> Start </h1></button>


</div>

<div class="panel" id="left-panel">
    <div class="sub-div" id="order-panel">
        <h3>Current Queue</h3>
        <table id="orders-table">
            <tr>
                <th> Customer </th>
                <th> Item </th>
                <th> <img src="/assets/images_icons/timer.png" id="timer"> </th>
                <th colspan="3"> Actions </th>
            </tr>
            {{#each orders}}
            {{#unless delivered}}
            {{> cafe/cafe-block delivered=false}}
            {{/unless}}
            {{/each}}
        </table>
    </div>

    <div class="sub-div" id="order-completed">
        <h3>Completed Orders</h3>
        <table id="orders-table">
            <tr>
                <th> Customer </th>
                <th> Item </th>
                <th> Price </th>

            </tr>
            {{#each orders}}
            {{#if delivered}}
            {{> cafe/cafe-block delivered=true}}
            {{/if}}
            {{/each}}
        </table>
    </div>
</div>
<div class="panel" id="center-panel">
    <div class="sub-div" id="order-area">
        <div class="customer">
            <img src="/assets/images_icons/tech_bro.png" alt="customer" id="customer" />
        </div>
        <div class="customer-order">
            <div class="speech-bubble">
                Hi! I'm <span id="cust-name">Tom!</span> <br>
                <span id="ord-name">Cappucino</span> Please!
            </div>
        </div>
        <div class="table"></div>
        <div class="table"></div>
        <div class="table"></div>




    </div>
    <div class="sub-div" id="cashier-panel">
        <div>
            <img src="/assets/images_icons/cashier.png" alt="cashier" id="cashier" />
        </div>

        <h2>Take An Order</h2>
        <div id="order-form">
            <form class="create-form">
                <div class="form-group">
                    <label for="it">Menu Item</label>
                    {{!-- figure out how to query menu to show this list --}}
                    <input type="text" id="item-id" name="item_id">

                    <label for="cust">Customer Name</label>
                    <input type="text" id="customer-name" name="customer_name" placeholder="x">
                </div>
                <button type="submit" id="add">Add Order</button>
            </form>
        </div>
    </div>
    <div class="sub-div" id="pickup-panel">

    </div>
</div>

<div class="panel" id="right-panel">
    <div class="sub-div" id="menu">
        {{#each menu}}
        <tr>
            <td>{{menu_id}}</td>
            <td>{{item}}</td>
            <td>{{price}}</td>
            {{/each}}
    </div>
</div>