body{
    background-color: teal;
    background-image: url("../images_icons/cafe.jpg");
    background-size: 400px;

}

.panel{
    background-color: aquamarine;
    border: solid 20px transparent;
    padding: 20px;
    width: 25%;
    float: left;
    margin: auto;
    height: 80vh
}
#left-panel{
    background-color: transparent;
    width: 40%;
}

#center-panel{
    background-color: pink;
}



#order-panel{
    background-color: white;
    width: 40%;
    height: 80vh;
    position: fixed;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;


}
button{
    color: green;
}

#order-form{
    width: 50%;
    line-height: 2;
    background-color: white;
    box-shadow: 0px 10px 10px grey;
}

#cashier{
    width: 30%;
}

#customer{
    width: 20%;
}

.table{
    height: 10px;
    background-color: brown;
    border-top: solid black 2px;

}

.coffee{
    width: 40px;
    position: fixed;
    bottom: 15%;
    background-color: brown;
}

tr{
    line-height: 2;
    text-align: center;
}

#orders-table{
    margin: 10px;
    width: 100%;
}