body{
    background-color: teal;
    background-image: url("../images_icons/cafe.jpg");
    background-size: 400px;
    font-family: 'Roboto', sans-serif;


}

h1{    
    font-family: 'Berkshire Swash', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 100;
}
.panel{
    border: solid 20px transparent;
    padding: 20px;
    width: 25%;
    float: left;
    margin: auto;
    height: 80vh
}
#left-panel{
    background-color: transparent;
    width: 40%;
}

#center-panel{
    background-color:white;
    margin: 30px 10px 30px 10px;


}

#right-panel{
    background-color: #f8f8f8;
    width: 15%;
    margin: 30px 10px 30px 10px;

}



#order-panel{
    background-color: white;
    width: 40%;
    height: 40vh;
    position: fixed;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
    text-align: center;
}

#order-completed{
    background-color: white;
    width: 40%;
    height: 40vh;
    position: fixed;
    top: 50%;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
    text-align: center;
}
button{
    background-color: grey;
}

#order-form{
    width: 50%;
    line-height: 2;
    background-color: #f8f8f8;
    box-shadow: 0px 10px 10px grey;
    text-align: center;
}

#cashier{
    width: 30%;
    position: relative;
    left: 250px;
    /* bottom: 25px; */
}

#customer{
    width: 25%;
    float: left;
}

.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    line-height: 2;
    float: left;
    margin-left: 10px;

}

.table{
    height: 10px;
    background-color: brown;
    border-top: solid black 2px;
    clear:both;

}

.coffee{
    width: 40px;
    position: fixed;
    bottom: 15%;
    background-color: brown;
}


tr{
    line-height: 2;
    text-align: center;
}

#orders-table{
    margin: 10px;
    width: 90%;
}

#add{
    background-color: teal;
    color:white;
    height: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#delete-button{
    height: 20px;
}

#timer{
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}

#add-button{
    height: 20px;
}

th{
    background-color: teal;
    color:white;
    vertical-align: middle;

}

input{
    text-align: center;
    line-height: 2;
}

progress[value]::before{
    background-color: teal;
}

progress[value]::after{
    background-color: red;
}

#start{
    width: 60vw;
    height: 70vh;
    position: fixed;
    background-color: pink;
    top: 10vh;
    left: 20vw;
    z-index: 5;
    margin: 0 auto;
    text-align: center;

}

#mask{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    opacity: .8;
    z-index: 3;
    margin: 0 auto;

}

#level{
    margin: auto 5px auto 5px;
    color: white;
    background-color: orange;
}

#start-game{
    width: 120px;
    color: white;
    background-color: teal;
    border-radius: 15px;


}

#directions{ 
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    margin: auto;
    background-color: #f8f8f8;

}
.timer{
    background-color: white;
    height: 15vh;
}
#menu-list{
    width: 100%;
    background-color: white;
    border: 0;
}
/* borrowed from  https://www.natashatherobot.com/speech-bubble-css/*/
